@page
@model MascotaFeliz.App.Presentacion.Pages.List1Model
@{
}
<h1>Formulario Visita Domiciliaria</h1>
<table class="table">

    <colgroup>
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        @* <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);"> *@

    </colgroup>

    <caption><b>Listado Visita Domiciliaria</b></caption>

    <thead>
        <tr>
            <td>Id Visita</td>
            @* <td>Veterinario</td>
            <td>Mascota</td> *@
            <td>Fecha de la Visita Domiciliaria</td>
            @* <td>Tarjeta Profesional</td> *@
            <td>Temperatura (°C)</td>
            <td>Masa Corporal (Kg)</td>
            <td>Frecuencia Respiratoria (rpm)</td>
            <td>Frecuencia Cardiaca (lat/min)</td>
            <td>Estado de Ánimo </td>
            <td>Recomendaciones</td>
        </tr>
    </thead>
    @foreach (var Visita in Model.VisitaDomiciliaria)
    {
        <tr>
            <td>
                @Visita.Id
            </td>
            @* <td>
                @Visita.Veterinario.Nombre
            </td> *@
            @* <td>
                @Visita.Mascota.NombreMascota
            </td> *@
            <td>
                @Visita.FechaHora
            </td>
            @* <td>
                @Visita.IdProfesional.TarjetaProfesional
            </td> *@
            <td>
                @Visita.Temperatura
            </td>

            <td>
                @Visita.Peso
            </td>

            <td>
                @Visita.FRespiratoria
            </td>

            <td>
                @Visita.FCardiaca
            </td>

            <td>
                @Visita.EstadoAnimo
            </td>

            <td>
                @Visita.Recomendacion
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetailsVisita" asp-route-visitadomiciliariaId="@Visita.Id">
                    <i class="fas  fa-info-circle"></i>
                    Detalles Visita Domiciliaria
                </a>
            </td>

        </tr>
    }

</table>
