@page
@model MascotaFeliz.App.Presentacion.Pages.ListModel
@{
}
<h1>Formulario Propietario de Mascotas</h1>
<table class="table">

    <colgroup>
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">


    </colgroup>

    <caption><b>Listado Propietarios de Mascotas</b></caption>
    <thead>
        <tr>
            <td>Documento de Identidad</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Teléfono</td>
            <td>Dirección</td>
        </tr>
    </thead>
    @foreach (var Propietario in Model.PropietarioMascotas)
    {

        <tr>
            <td>
                @Propietario.Id
            </td>
            <td>
                @Propietario.Nombre
            </td>
            <td>
                @Propietario.Apellidos
            </td>
            <td>
                @Propietario.Telefono
            </td>
            <td>
                @Propietario.Direccion
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-propietariomascotasId="@Propietario.Id">
                    <i class="fas  fa-info-circle"></i>
                    Detalles Propietario
                </a>
            </td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditPropietario" asp-route-propietariomascotasId="@Propietario.Id">
                    <i class="fas  fa-address-book fa-lg" aria-hidden="true"></i>
                    Editar Propietario
                </a>
            </td> 
        </tr>
    }

</table>