@page
@model MascotaFeliz.App.Presentacion.Pages.ListVeterinarioModel
@{
}
<h1>Formulario Veterinario</h1>
<table class="table">

    <colgroup>
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">
        <col style="background-color: rgba(120, 250, 178, 0.452);">
        <col style="background-color: rgba(14, 221, 248, 0.397);">


    </colgroup>

    <caption><b>Listado Veterinarios</b></caption>
    <thead>
        <tr>
            <td>Documento de Identidad</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Teléfono</td>
            <td>Tarjeta Profesional</td>
        </tr>
    </thead>
    @foreach (var Veterinario in Model.Veterinarios)
    {

        <tr>
            <td>
                @Veterinario.Id
            </td>
            <td>
                @Veterinario.Nombre
            </td>
            <td>
                @Veterinario.Apellidos
            </td>
            <td>
                @Veterinario.Telefono
            </td>
            <td>
                @Veterinario.TarjetaProfesional
            </td>
            @* <td>
                <a class="btn btn-primary table-btn" asp-page="./Details" asp-route-propietariomascotasId="@Propietario.Id">
                    <i class="fas  fa-info-circle"></i>
                    Detalles Propietario
                </a>
            </td> *@
        </tr>
    }

</table>